[Unit]
Description=Check SynthAPI disk space every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=10s
RandomizedDelaySec=10s
Unit=synthapi-disk-cleanup.service

[Install]
WantedBy=timers.target
